/*
*Fonts
*/

$main-font: 'Alegreya Sans', sans-serif;

$title-font: 'Cardo', serif;

/*
* Colors
*/


$color0:#ffffff; //white
$color1: #67636a; //main font color
$color2: #828282; //use for menu, light grey
$color3: #E2E2E2; // grey used for the hr